<!DOCTYPE html>
<html lang="en">
     @using Microsoft.AspNetCore.Identity
     @inject SignInManager<IdentityUser> SignInManager
     @inject UserManager<IdentityUser> UserManager
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlaylistES</title>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlaylistES.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

@if (SignInManager.IsSignedIn(User))
{
      <nav class="navmenu">
        <ul class="menuItems">
            <a href='/Home/Home'><li>Home</li></a>
            <a href='/Playlists/MyPlaylists'><li>My Playlists</li></a>   
            <a href="/" ><li>Account</li></a>
        </ul>
    </nav>
}
else
{
 
    <nav class="navmenu">
        <ul class="menuItems">
            <a href='/'><li>Login</li></a>
            <a href='/Home/Register'><li>Register</li></a>   
        </ul>
    </nav>
}

     

    @* FONTE NAVBAR: https://codepen.io/grohit/pen/jObGzdG *@ 
        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <footer class="border-top footer text-muted">
        <div class="containerfooter">
            <i class="fa fa-twitter" id="twitter"></i>
            <i class="fa fa-github-square github" id="github"></i>
            <i class="fa fa-youtube" id="youtube"></i>
        </div>
    </footer>   
    @await RenderSectionAsync("Scripts", required: false)

</html>
