@using PlaylistES.Models;
@model IEnumerable<PlaylistES.Models.Playlists>

@{
    ViewData["Title"] = "My Playlists";
}
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   
</head>
<body>
     @{
        User user = ViewBag.user;
    }
    <div class="SideBar">
        <div class="ProfContainer">  
            <img draggable="false" class="imgP" src=@user.Profilepicture>
            <div class="ProfName">
                <p>@user.username</p>
            </div>
            
        </div>
        <div class="Divider"></div>
    </div>

    <div class="formPLContainer">
        
            <form class="formPL" name="CPL" id=CPL  method="post" asp-action="CreatePlaylist" asp-controller="Playlists">
                            <h1>Create your playlist!</h1>
                            <label>Playlist Title</label>
                            <input type="hidden" name="PlaylistId" value="debugID">
                            <input class="input" type="text" name="PlaylistName" value="" required>
                            <label>Describe your playlist</label>
                            <input class="textbox" type="text" name="PlaylistDescription" value="" required>
                            <input type="hidden" name="PlaylistImage" value="https://toquesmotog.com.br/storage/app/public/pictures/FvX3udhdF3aogFTzzqTxkyhjNLmsSl6rPPXOt41E.jpeg">
                            <input type="hidden" name="Creator_id" value="@user.UserId"> 
                            <input type="hidden" name="Videos" value="dubugArray">   
                <input class="confirm" type="submit" >
            </form>

    </div>
</body>
