@using PlaylistES.Models
@{
    ViewData["Title"] = "Home page";
}
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   
</head>
<body>
    @{
        User user = ViewBag.user; 
    }
    <div class="SideBar">
        <div class="ProfContainer">  
            <img draggable="false" class="imgP" src=@user.Profilepicture>
        <div class="ProfName">
            <p>@user.username</p>
        </div>


        </div>
    </div>
    <div class="Divider"></div>

    </div>
    
    <div class="Homepage">
        <img draggable="false" src="https://cdn.vox-cdn.com/thumbor/ptYRtZDhAfdgw86SgLRfP8J5xao=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/19624051/acastro_200123_3880_Youtube_NDA_0001.0.jpg" />

         <h1>Welcome!<br>Start creating your own playlists!</h1>
    </div>
   
</body>
