@{
    ViewData["Title"] = "Please sign in";
}
@*LOGIN FORM: https://codepen.io/codewatcher/pen/ExVdBmE *@
<html>
    <head>
        <Title>Login Form</Title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
    @{
        var msg = ViewData["message"];
    }
        @if (msg != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@msg");
                };
            </script>
        } 
        <form method="post" asp-action="CreateUser" asp-controller="Home">
            <div class="form-container">
                <div class="formlogin">
                    <div class="inputBox">
                 
                    <h2>Register</h2>
                    <div class="input">
                        <input type="hidden" name="UserId" value="debugId">  
                        <div class="inputBox">
                            <label for="">Username</label>
                            <input type="text" name="username" value="" required>
                        </div>
                        <div class="inputBox">

                            <label for="">Password</label>
                            <div class="flex">
                                 <input id="pwinput" type="password" name="password" value=""> <button class="eye" onclick=TogglePW() type="button"><i class="material-icons">visibility</i></button>
                            </div>
                            <label for="">Confirm password</label>
                            <div class="flex">
                                 <input id="pwinput2" type="password" required> <button class="eye" onclick=TogglePW2() type="button"><i class="material-icons">visibility</i></button>
                        </div>
                        <input type="hidden" name="Profilepicture" value="https://static.vecteezy.com/ti/vetor-gratis/p1/2534006-social-media-chatting-online-blank-profile-picture-head-and-body-icon-people-standing-icon-gray-background-gr%C3%A1tis-vetor.jpg">
                        <input type="hidden" name="Playlists" value="debug"> 
                        <div class="inputBox">
                            <input type="submit" name="" value="Sign In"> 
                        </div>   
                        <p class="forgot">Already have an account? <a href="/Home/Index">Click Here</a></p>
                    </div>
                    </div>   
                 </div>
               </div>
            </div>
        </form>
    </body>
</html>

<script>
    function TogglePW(){
       var  Check=document.getElementById("pwinput").getAttribute("type")
       var pw = document.getElementById("pwinput")
       if (Check=="password"){   
            pw.setAttribute("type","text")
       }else{
           pw.setAttribute("type","password")
       }
    }
    function TogglePW2(){
       var  Check=document.getElementById("pwinput2").getAttribute("type")
       var pw = document.getElementById("pwinput2")
       if (Check=="password"){   
            pw.setAttribute("type","text")
       }else{
           pw.setAttribute("type","password")
       }
    }

    var password = document.getElementById("pwinput");
    var confirm_password = document.getElementById("pwinput2");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>